<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/pintuer.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>
<script type="text/javascript">
	function del(id, name){
			layer.confirm('确认删除系列【'+name+'】？', function(index){
				$.ajax({
	                cache: true,
	                type: "POST",
	                url:"{:U('Index/delSeries')}",
	                data:{ "id": id },
	                error: function(request) {
	                	layer.msg(request.msg, {icon: 6});
	                },
	                success: function(data) {
	                	layer.msg(data.msg, {
	                		  icon: 1
	                		}, function(){
	                		if (data.status == 1){
	                			window.location.href="{:U('Index/Seriesmanage')}";
	                		}
	                		});

	                }
	            });

				  layer.close(index);
			});
	}
</script>

</head>
<body>
	<form method="post" action="Cartoonlist" id="searchform">
		<div class="panel admin-panel">
			<div class="panel-head">
				<strong class="icon-reorder"> 动画文件列表</strong> <a href=""
					style="float: right; display: none;">添加动画</a>
			</div>
			<div class="padding border-bottom">
				<ul class="search" style="padding-left: 10px;">
					<li><a class="button border-main icon-plus-square-o"
						href="{:U('Index/Addcartoon')}"> 添加动画</a></li>
					<li>搜索：</li>
					<li>系列名称 <select name="series_id" class="input"
						style="width: auto; line-height: 17px; display: inline-block">
							<option value="0">选择</option>
							<foreach name="serielist" item="vo" >
							<option value="{$vo.id}">{$vo.name}</option>
							</foreach>
					</select> &nbsp;&nbsp; 状态 <select name="status" class="input"
						style="width: 80px; line-height: 17px; display: inline-block">
							<option value="-1">选择</option>
							<option value="1">上架</option>
							<option value="0">下架</option>
					</select>
					</li>
					<li><input type="text" placeholder="请输入搜索关键字" name="keywords"
						class="input"
						style="width: 250px; line-height: 17px; display: inline-block" />
							<input type="submit" name="搜索" class="button border-main icon-search" /></li>
				</ul>
			</div>
			<table class="table table-hover text-center">
				<tr>
					<th width="50" style="text-align: left; padding-left: 20px;">ID</th>
					<th>系列名称</th>
					<th>动画名称</th>
					<th>预览图片</th>
					<th>显示类型</th>
					<th width="10%">更新时间</th>
					<th>状态</th>
					<th width="310">操作</th>
				</tr>
				<foreach name="cartoonList" item="vo" >
				<tr>
					<td style="text-align: left; padding-left: 20px;"> {$vo.cartoon_id}</td>
					<td>{$vo.series_name}</td>
					<td>{$vo.name}</td>
					<td><img src="__ROOT__/{$vo.save_path}{$vo.image_name}" alt="" width="50" height="50" /></td>
					<td>{$vo.show_type}</td>
					<td>{$vo.moddate}</td>
					<td>{$vo.status}</td>
					<td><div class="button-group">
							<a class="button border-main" href="{:U('EditCartoon')}?id={$vo.cartoon_id}" target="right"><span
								class="icon-edit"></span> 修改</a> <a class="button border-red"
								href="javascript:void(0)" onclick="return del('{$vo.cartoon_id}','{$vo.name}');"><span
								class="icon-trash-o"></span> 删除</a>
						</div></td>
				</tr>
				 </foreach>
				<tr>
					<td colspan="7"><div class="pagelist">{$page} </div></td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>