<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/pintuer.js"></script>
<style type="text/css">
.btn {
	position: relative;
	overflow: hidden;
	margin-right: 4px;
	display: inline-block;
	*display: inline;
	padding: 4px 10px 4px;
	font-size: 14px;
	line-height: 18px;
	*line-height: 20px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #5bb75b;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer;
}

@media screen and (max-width: 360px) {
	.demo {
		width: 340px
	}
}
</style>
<script type="text/javascript">
	//建立一個可存取到該file的url
	function getObjectURL(file) {
		var url = null;
		if (window.createObjectURL != undefined) { // basic
			url = window.createObjectURL(file);
		} else if (window.URL != undefined) { // mozilla(firefox)
			url = window.URL.createObjectURL(file);
		} else if (window.webkitURL != undefined) { // webkit or chrome
			url = window.webkitURL.createObjectURL(file);
		}
		return url;
	}
	$(function() {
		$("#home_image").on("change", function() {
			var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
			if (objUrl) {
				$("#preview_home").html('<img src="'+objUrl+'" height="100" width="100" />'); //将图片路径存入src中，显示出图片
			}
		});

		$("#in_image").on("change", function() {
			var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
			if (objUrl) {
				$("#preview_in").html('<img src="'+objUrl+'" height="100" width="100" />'); //将图片路径存入src中，显示出图片
			}
		});

		$("#unsicon").on("change", function() {
			var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
			if (objUrl) {
				$("#preview_unsicon").html('<img src="'+objUrl+'" height="100" width="100" />'); //将图片路径存入src中，显示出图片
			}
		});

		$("#s_icon").on("change", function() {
			var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
			if (objUrl) {
				$("#preview_icon").html('<img src="'+objUrl+'" height="100" width="100" />'); //将图片路径存入src中，显示出图片
			}
		});
	});
</script>
</head>
<body>
	<div class="panel admin-panel margin-top" id="add" >
		<div class="panel-head">
			<strong><span class="icon-pencil-square-o"></span> 添加系列</strong>
		</div>
		<div class="body-content">
			<form method="POST" class="form-x" name="addseries"
				action="editSeries" enctype="multipart/form-data" target="right">
				<input type="hidden" name="id" value="{$series_info.id}">
				<div class="form-group">
					<div class="label">
						<label>系列名称：</label>
					</div>
					<div class="field">
						<input type="text" class="input w50" value="{$series_info.name}" name="name"
							data-validate="required:请输入栏目名称" />
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label  id="pre_title">首页大图素材：</label>
					</div>
					<div class="field">
						<div id="up_btn1" class="btn">
							<span id="pre_btn1">添加图片</span>
							 <input id="home_image" type="file" name="home_image" />
						</div>
						<p>最大100KB，支持jpg，gif，png格式。</p>
						<div id="preview_home"><img src="__ROOT__/{$series_info.image_name}" height="100" width="100" /></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label  id="pre_title">内页大图素材：</label>
					</div>
					<div class="field">
						<div id="up_btn2" class="btn">
							<span id="pre_btn2">添加图片</span>
							 <input id="in_image" type="file" name="in_image" />
						</div>
						<p>最大100KB，支持jpg，gif，png格式。</p>
						<div id="preview_in"><img src="__ROOT__/{$series_info.m_image}" height="100" width="100" /></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label  id="pre_title">图标：</label>
					</div>
					<div class="field">
						<div id="up_btn3" class="btn">
							<span id="pre_btn3">添加图片</span>
							 <input id="s_icon" type="file" name="s_icon" />
						</div>
						<p>最大100KB，支持jpg，gif，png格式。</p>
						<div id="preview_icon"><img src="__ROOT__/{$series_info.s_icon}" height="100" width="100" /></div>

						<div id="up_btn4" class="btn">
							<span id="pre_btn4">添加未选中图标</span>
							 <input id="unsicon" type="file" name="unsicon" />
						</div>
						<p>最大100KB，支持jpg，gif，png格式。</p>
						<div id="preview_unsicon"><img src="__ROOT__/{$series_info.unsicon}" height="100" width="100" /></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>描述：</label>
					</div>
					<div class="field">
						<textarea type="text" class="input" name="note"
							style="height: 80px;" >{$series_info.note}</textarea>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>状态：</label>
					</div>
					<div class="field">
						<input name="status" type="radio" value="0" <if condition="$series_info.status == 0 ">checked="true" </if>>
						下架</input> <input name="status" type="radio" value="1" <if condition="$series_info.status == 1 ">checked="true" </if>> 展示</input>
						<div class="tips"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label></label>
					</div>
					<div class="field">
						<button class="button bg-main icon-check-square-o" type="submit">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>