<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/pintuer.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>
<script type="text/javascript">
	//建立一個可存取到該file的url
	function getObjectURL(file) {
		var url = null;
		if (window.createObjectURL != undefined) { // basic
			url = window.createObjectURL(file);
		} else if (window.URL != undefined) { // mozilla(firefox)
			url = window.URL.createObjectURL(file);
		} else if (window.webkitURL != undefined) { // webkit or chrome
			url = window.webkitURL.createObjectURL(file);
		}
		return url;
	}
	$(function() {
		$(".leftnav h2").click(function() {
			$(this).next().slideToggle(200);
			$(this).toggleClass("on");
		})
		$(".leftnav ul li a").click(function() {
			$("#a_leader_txt").text($(this).text());
			$(".leftnav ul li a").removeClass("on");
			$(this).addClass("on");
		})

		$("#img").click(function() {
			$("#imagefile").click(); //隐藏了input:file样式后，点击头像就可以本地上传
			$("#imagefile").on("change", function() {
				var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
				if (objUrl) {
					$("#img").attr("src", objUrl); //将图片路径存入src中，显示出图片
				}
			});
		});

		$("#addbut").click(function() {
			//页面层
			layer.open({
				type : 1,
				title : false,
				skin : 'layui-layer-rim', //加上边框
				area : [ '650px', '580px' ], //宽高
				content : $("#add")
			});
		});
	});
</script>

</head>
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			<strong class="icon-reorder"> 栏目列表</strong>
		</div>
		<div class="padding leftnav">
			<h2>
				<span class="icon-folder"></span>动画管理
			</h2>
			<ul>
				<li><a href="{:U('Index/Seriesmanage')}" target="right"><span
						class="icon-caret-right"></span>系列管理</a></li>
				<li><a href="{:U('Index/Cartoonlist')}" target="right"><span
						class="icon-caret-right"></span>动画文件管理</a></li>
			</ul>
		</div>
	</div>
	<div class="bread">
		<iframe scrolling="auto" rameborder="0"
			src="{:U('Index/AddPrograma')}" name="programa" width="100%"
			height="600px"></iframe>
	</div>
</body>
</html>