<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/pintuer.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>
<script type="text/javascript">
	function del(id, name){
			layer.confirm('确认删除系列【'+name+'】？', function(index){
				$.ajax({
	                cache: true,
	                type: "POST",
	                url:"{:U('Index/delSeries')}",
	                data:{ "id": id },
	                error: function(request) {
	                	layer.msg(request.msg, {icon: 6});
	                },
	                success: function(data) {
	                	layer.msg(data.msg, {
	                		  icon: 1
	                		}, function(){
	                		if (data.status == 1){
	                			window.location.href="{:U('Index/Seriesmanage')}";
	                		}
	                		});

	                }
	            });

				  layer.close(index);
			});
	}
</script>

</head>
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			<strong class="icon-reorder"> 内容列表</strong>
		</div>
		<div class="padding border-bottom">
			<button type="button" class="button border-yellow" id="addbut"
                       onclick="window.location.href='{:U('Index/AddSeries')}'">
				<span class="icon-plus-square-o"></span> 添加内容
			</button>
		</div>
		<table class="table table-hover text-center">
			<tr>
				<th width="10%">ID</th>
				<th width="10%">首页图片</th>
				<th width="10%">内页图片</th>
				<th width="10%">图标图片</th>
				<th width="15%">名称</th>
				<th width="20%">描述</th>
				<th width="10%">状态</th>
				<th width="15%">操作</th>
			</tr>

		<foreach name="serieslist" item="vo" >
		    <tr>
		        <td>{$vo.id}</td>
				<td><img src="__ROOT__/{$vo.image_name}" alt="" width="50" height="50" /></td>
				<td><img src="__ROOT__/{$vo.m_image}" alt="" width="50" height="50" /></td>
				<td>
					<img src="__ROOT__/{$vo.s_icon}" alt="" width="32" height="32" />
					<img src="__ROOT__/{$vo.unsicon}" alt="" width="32" height="32" />
				</td>
				<td>{$vo.name}</td>
				<td>{$vo.note}</td>
				<td><if condition="$vo.status == 0 ">下架<else />展示 </if></td>
				<td><div class="button-group">
						<a class="button border-main"  href="{:U('editSeries')}?id={$vo.id}" target="right"><span
							class="icon-edit"></span> 修改</a> <a class="button border-red"
							href="javascript:void(0)" onclick="return del('{$vo.id}','{$vo.name}');"><span
							class="icon-trash-o"></span> 删除</a>
					</div></td>
		    </tr>
		    </foreach>
		</table>
	</div>
</body>
</html>